:root{
    box-sizing: border-box;
}

*,
::before
::after{
    box-sizing: inherit;
}

body{
    background-color: lightgray;
    display: grid;
    justify-content: center;
}

h1{
    text-align: center;
}

.buttons{
    background-color: white;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1em 10em;
}

button{
    width:20em;
    padding: 1em;
    margin:1em;
    font-size: 15px;
}

.resultado{
    padding:0.5em;
    background-color: lightblue;
}

.ganador--empate{
    background-color: lightsalmon;
}

.ganador--player{
    background-color: green;
}

.ganador--compu{
    background-color: red;
}